.headerWrap {
  width: 100vw;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #EEE;

  .content {
    flex: 1;
  }

  .right {
    justify-self: right;
    margin-right: 20px;
  }
}